<div class="comments">
    <h3>Poursuivre la discussion</h3>
    <p> 
       Envie de réagir à l'article ? Il suffit de me laisser un message via la <a href="/contact/"> page de contact</a>, sur mastodon <a href="https://piaille.fr/@avernois">@avernois@piaille.fr</a> ou un billet chez vous.<br>
       Vous pouvez aussi proposer des modifications via <a href="https://gitlab.com/avernois/blog.crafting-labs.fr/blob/published/{{ page.path }}">le source de cet article sur gitlab</a>.
   </p>
</div>
    