<footer class="site-footer">
    <p class="text">{{ site.theme_settings.footer_text }}</p>
            <div class="footer-icons">
                <ul>
                {% include icons.html %}
                </ul>
            </div>
</footer>