<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    {% if page.noindex %}
    <meta name="robots" content="noindex" />
    {% endif %}


    {% for script in page.scripts  %}
    <script src="{{ script }}"></script>
    {% endfor %}
    {% for style in page.css %}
    <link rel="stylesheet" href="{{ style }}">
    {% endfor %}

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/blog.css">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.url }}/{{ site.baseurl }}//feed.xml"/>

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/vendor/font-awesome.min.css">
    
    <script defer=true src="{{ site.baseurl }}/assets/js/navbar.js"></script>

</head>
