
<li>
	<a href="{{ site.url }}{{ site.baseurl }}/feed.xml" title="flux RSS">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>

{% if site.email %}
<li>
	<a href="mailto:{{ site.email }}" title="{{ site.email }}">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

<li>
    <a rel="me" href="https://piaille.fr/@avernois" title="Mastodon" class="type">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa-brands fa-mastodon fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>


{% if site.twitter_username %}
<li>
	<a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter" class="type">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa-brands fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}


{% if site.github_username %}
<li>
	<a href="https://github.com/{{ site.github_username }}" title="GitHub">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa-brands fa-github fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.gitlab_username %}
<li>
	<a href="https://gitlab.com/{{ site.gitlab_username }}" title="Gitlab">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa-brands fa-gitlab fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.linkedin %}
<li>
	<a href="https://www.linkedin.com/in/{{ site.linkedin }}" title="LinkedIn">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-brands fa-linkedin fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}
