---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header id="main" style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 id="{{ page.title | cgi_escape }}" class="title">Tous les articles</h1>
  </header>
  <section class="post-content">{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'"  %}
    {% for year in postsByYear %}
      <h3>{{ year.name }}</h3>
        <ul>
          {% for post in year.items %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
    {% endfor %}
    
    </section>   
</article>