---
layout: default
---

<div class="home">
  <div class="posts">
    {% for post in site.posts limit:site.max_article_index %}
    <div class="post-teaser">
      {% if post.thumbnail %}
      <div class="post-img">
         <img src="{{ site.baseurl }}/{{ post.thumbnail }}">
      </div>
      {% endif %}
      <span>
          <header>
            <h1>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
              </a>
            </h1>
            <p class="meta">
              {{ post.date | date: "%B %-d, %Y" }}
            </p>
          </header>
          <div class="excerpt">
              {{ post.excerpt }}
          </div>
        </span>
        <p class="meta right">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Lire la suite</a>
        </p>
    </div>
    {% endfor %}
  </div>
  <div class="home-read-more">
    <a href="{{ "/archive" | prepend:site.baseurl }}" class="button-large">Voir tous les articles</a>
  </div>  
</div>
